* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;  
box-sizing: border-box;
margin: 0;
padding: 0;
    }

h1 {
    font-size: 5em; /* 80px / 16px = 5em */
    text-align: center;
    font-family: Verdana, "Times New Roman";
    color: rgb(0, 179, 89);
}

body {
background-color: wheat;
}

#container {
    width: 600px;
    height: 600px;
    margin: auto; /* This adds 0px margin AND "auto" centers the box */
}

div.column {
border: 1px solid rgb(195, 0, 255);
}

.column {
    float: left;
    text-align: justify;
    font-size: 0em;  /*3.125em to check if the Square Grids are showing up */
}

.row {
    clear: both;
  }

#button-grp {
    text-align: center;
}

button {
    margin: 50px;
    font-size: 1.875em;
}

#clearColourSquareDiv {
    transition-duration: 0.4s;
    cursor: pointer;
}

#clearColourSquareDiv:hover {
    box-shadow: 10px 10px 20px 10px red;
}

#createRandomRGB {
    background-image: linear-gradient(red, yellow, green);
}

#createIncrementBlack {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

#createIncrementBlack:hover {
    background-color: #555555;
    color: white;
}

#createFixedColour {
    border-radius: 12px;
    border: 5px solid blue;
}
